include LICENSE
include README.md
include CHANGELOG.md
recursive-include src/{module_name}/templates *
recursive-include src/{module_name}/static *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
